body{
    font-family: 'Lato', sans-serif;
}

.Container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.Precio{
    font-size: 50px;
    color: aquamarine;
}

.Columna {
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px gray;
    width: 23%;
    box-sizing: border-box;
}

.btn-Precio{
    background: salmon;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.btn-Precio:hover{
    background: rgb( 250, 93, 75);
}

@media (max-width: 1070px){
    .Columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .Columna{
        width: 100%;
        margin-bottom: 20px;
    }
}
